<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Watch me ride</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    If it looks like you crashed, we'll send a SMS with your location
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/tryit">Show me a demo!</a></p>
</div>

<div class="row marketing">
    <h2>Latest rides</h2>
    <table class="table">
        <tr ng-repeat="trip in trips">
            <td>{{trip.name}}</td>
            <td>{{trip.start}}</td>
        </tr>
    </table>
</div>

<div class="footer">
  <p>♥ from the Bovuet Grenland</p>
</div>
 